.DS_Store
.vscode/

basic_python_programming/001_CSV/datasets/
basic_python_programming/001_CSV/outputs/

basic_python_programming/002_Numpy/dataset.npz

basic_python_programming/003_OpenCV/*.jpg
basic_python_programming/003_OpenCV/*.png
basic_python_programming/003_OpenCV/*.dat

basic_python_programming/004_Custom_Dataset/datasets/

neural_networks/001_MLP/datasets/
neural_networks/001_MLP/*.pdf